<ion-header translucent>
  <ion-toolbar>
    <ion-title>Header</ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="logo-ionic"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-button (click)="gotoLogin();">Go to about</ion-button>

  <ion-button [routerLink]="['/login']">Go to detail</ion-button>

  <div>
    <ion-slides>
      <ion-slide>
        <table class="table table-bordered table-fixed monthview-datetable">
          <thead>
            <tr>
              <th *ngFor="let dayHeader of dayHeaders">
                <small>{{dayHeader}}</small>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of [0,1,2,3,4,5]">
              <td *ngFor="let col of [0,1,2,3,4,5,6]" [ngClass]="getHighlightClass(days[row*7+col])">
                <ng-template #estimateTemplate let-lessonsCounter="estimate">
                  <div> {{lessonsCounter[row*7+col].label}}</div>
                </ng-template>
                <ng-container *ngTemplateOutlet="estimateTemplate;context:IMonthViewDisplayEventTemplateContext">
                </ng-container>
              </td>
            </tr>
          </tbody> 
        </table>
      </ion-slide>
    </ion-slides>
    <!-- <template [ngTemplateOutlet]="monthviewEventDetailTemplate"
  [ngOutletContext]="{showEventDetail:showEventDetail, selectedDate: selectedDate, noEventsLabel: noEventsLabel}">
  </template> -->
  </div>
  <!--
  <div class="smog {{aqiStatus(aqi.data.aqi).code}}" style="background:url(assets/imgs/clouds.png) 25% 100% repeat-x">
  </div>
  <div class="pollution-back {{aqiStatus(aqi.data.aqi).code}}" style="">
    <ion-icon name="nuclear" class="pollution-sign"></ion-icon>
    <div class="pollution-time">TODAY</div>
    <div class="pollution-value">{{aqi.data.aqi}}</div>

    <div class="aqi-extra" padding style="left:0">
      {{aqi.data.city?aqi.data.city.name:''}}
    </div>
    <div class="aqi-extra" padding style="right:0">
      {{aqi.data.dominentpol?'Pollutant '+aqi.data.dominentpol:''}}
    </div>
  </div>
  <div class="aqi-status {{aqiStatus(aqi.data.aqi).code}}">
    <div class="aqi-readable">{{aqiStatus(aqi.data.aqi).val}}</div>
    <div class="chart-container">
      <canvas #barCanvas class="aqi-graph" style="height:250px">
   </canvas>
    </div>
  </div> -->

</ion-content>